apiVersion: apps/v1
kind: Deployment
metadata:
  name: tinyllama
  namespace: ai-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tinyllama
  template:
    metadata:
      labels:
        app: tinyllama
    spec:
      containers:
      - name: vllm
        image: us-central1-docker.pkg.dev/my-project/llm-demo/tinyllama-vllm:v1
        ports:
        - containerPort: 8000
        env:
        - name: HF_TOKEN
          valueFrom:
            secretKeyRef:
              name: hf-token
              key: HF_TOKEN
        args:
          - --model
          - TinyLlama/TinyLlama-1.1B-Chat-v1.0
          - --dtype
          - float16
          - --max-model-len
          - "1024"
          - --host
          - 0.0.0.0
          - --port
          - "8000"
        resources:
          requests:
            cpu: "1"
            memory: "3Gi"
          limits:
            cpu: "2"
            memory: "4Gi"
